.typo1{
  color:#c3c3c3 !important;
  font-size:15px !important;
  font-weight: bold !important;
}
.typo2{
  font-size:25px !important;
  font-weight: bold !important;
}
.typo3{
  color:#00aa4c !important;
  font-size:15px !important;
  font-weight: bold !important;
}
.typo4{
  font-size:15px !important;
  font-weight: bold !important;
}


.css-1vuxth3-MuiBarElement-root{
  fill:#5a32ea !important;  
  border-radius: 210px !important;
}

.css-1k2u9zb-MuiChartsAxis-root .MuiChartsAxis-line {
  display: none !important;

}

.css-1k2u9zb-MuiChartsAxis-root .MuiChartsAxis-tick{
  display: none !important;

}

.css-4vs8q7-MuiResponsiveChart-container{
  width : 100% !important;
}